@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Lora:wght@700&display=swap');

/*NAVIGATION CSS*/

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust based on the number of menu items */
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0 25%;
    max-width: 800px;
}

nav li {
    position: relative;
}

nav a {
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

nav ul ul {
    display: none;
    position: absolute;
    left: 0;
    margin-left: 0; /* Moved 25% to the left */
    background-color: darkgray;
    width: 200px;
    z-index: 2; /* Ensure the dropdown stays on top */
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    display: block;
    text-align: center;
}

nav ul ul a {
    font-size: 14px;
}

/*HEADER CSS */

header {
    font-family: sans-serif;
    position: top;
    top: 0;
    left: 0;
    text-align: center;
    padding: 10px 20px;
    background-color: lightgray;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
    font-weight: 700;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.2em;
}

/*BODY CSS*/

body {
    text-align: center;
    font-family: 'AR One Sans', sans-serif;
    font-size: 16px;
}



.container {
    display: flex;
}

.left-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    background-color: lightgray;
    overflow-y: auto;
    display: block;
}


.left-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

.left-menu li {
    margin-bottom: 10px;
}

.left-menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    display: block;
}




.content {
    flex-grow: 1; /* Make the content area expand to fill available space */
    padding: 20px;
    max-width: calc(100% - 220px); /* Adjust based on menu width and padding */
    margin-left: 220px; /* Ensure content doesn't overlap with the menu */
}


.side-images {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-image1,
.side-image2,
.side-image3,
.side-image4,
.side-image5 {
    width: 100%;
    max-width: 100%;
}
