@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Lora:wght@700&display=swap');

/*NAVIGATION CSS*/

    nav ul {
        text-align: center;
        list-style-type: none;
        padding: 0;
    }
    nav li {
        display: inline;
        margin: 0 10px;

    }
    nav a {
        color: black;
        font-weight: bold;
        font-size: 16px;
    }
    nav {
        text-align: center;
        padding: 20px 0;
        grid-area: nav;
        background-color: transparent;
        border: 2px solid black; 
        border-bottom: none;
        min-width: 100px;
        display: inline-block;
        margin: 0 auto;
        margin: 0 35%;



    }
    .nav-list {
        list-style: none;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-direction: row; /* Keep the items in a row */
        justify-content: center;
    }
    .left-menu {
        position: fixed;
        left: -525px;
        top: 250px;
        padding: 20px;
        
    }
    .left-menu li {
        margin: 10px 10px;
    }
    .left-menu ul{
        list-style-type: none;
        padding: 0;
    }
    .left-menu a{
        font-weight: bold;
        display: block;
        text-decoration: none;

    }

/*HEADER CSS */
    header {
        font-family: sans-serif;
        position: top;
        top: 0;
        left: 0;
        text-align: center;
        background-color: #8C8881;
        grid-area: header;
    text-align: center;
    border: 2px solid black; 
    border-bottom: none;
    border-top: none;

    }
    h1, 
    h2, 
    h3 {
      font-family: 'Lora', serif;
      font-weight: 700;
    }
    h1{
      font-size: 1.7em;
    } 
    h2{
      font-size: 1.3em;
    } 
    h3 {
      font-size: 1.2em;
    }

/*BODY CSS*/
    body {
        font-family: 'AR One Sans', sans-serif;
        font-size: 16px;
        display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "aside1 main aside2"
        "footer footer footer";
    min-height: 100vh;
    margin: 0;
    border-left: 12vw solid #262117; /* Add border to the left */
    border-right: 12vw solid #262117;
    }


    

    
    .main {
        grid-area: main;
        padding: 10px;
        border: 2px solid black; 
        border-left: none;
        border-right: none;
        background-color: #D9CDB8;
    }
    
    .aside1 {
        grid-area: aside1;
        background-color: #BFB2A3;
        padding: 10px;
        border: 2px solid black; 

    }
    
    .aside2 {
        grid-area: aside2;
        background-color: #BFB2A3;
        padding: 10px;
        border: 2px solid black; 

    }
    
    .footer {
        grid-area: footer;
        background-color: #73726C;
        color: #fff;
        padding: 10px;
        border: 2px solid black; 
        border-top: none;
        border-bottom: none;
        min-height: 50px;
        text-align: center;
        font-size: 12px;

    }
    
    @media screen and (max-width: 800px) {
        body {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "header"
                "nav"
                "main"
                "aside1"
                "aside2"
                "footer";
                border: none;
        }
        .nav {
            margin: 0 35%;
        }
        .nav-list{
            display: inline-block;
        }
    

    }