@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Lora:wght@700&display=swap');

/*NAVIGATION CSS*/

    nav ul {
        text-align: center;
        list-style-type: none;
        padding: 0;
    }
    nav li {
        display: inline;
        margin: 0 10px;

    }
    nav a {
        color: black;
        font-weight: bold;
        font-size: 16px;
    }
    nav {
        text-align: center;
        padding: 20px 0;
        background-color: darkgray;
        margin: 0 35%;
    }
    .left-menu {
        position: fixed;
        left: -525px;
        top: 250px;
        padding: 20px;
        
    }
    .left-menu li {
        margin: 10px 10px;
    }
    .left-menu ul{
        list-style-type: none;
        padding: 0;
    }
    .left-menu a{
        font-weight: bold;
        display: block;
    }

/*HEADER CSS */
    header {
        font-family: sans-serif;
        position: top;
        top: 0;
        left: 0;
        text-align: center;
        padding: 10px 20px;
        background-color: lightgray;
    }
    h1, 
    h2, 
    h3 {
      font-family: 'Lora', serif;
      font-weight: 700;
    }
    h1{
      font-size: 1.7em;
    } 
    h2{
      font-size: 1.3em;
    } 
    h3 {
      font-size: 1.2em;
    }

/*BODY CSS*/
    body {
        text-align: center;
        font-family: 'AR One Sans', sans-serif;
        font-size: 16px;
    }
    .links-section {
        text-align: left;
    }
/*
    section {
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }
*/
    .f1-wiki-copy {
        text-align: left;
        max-width: 700px;
        margin: 0 auto;
        line-height: 1.75;
    }
.content {
    min-width: 100%;
}

/* SIDE IMAGE */ 
.side-image1 {
    align-items: center;
    text-align: center;
    position: absolute; 
    top: 300px; 
    right: 1%; 
    max-width: 300px; 
    height: auto; 
    font-size: 14px;
    image-resolution: 75%;

    border: 2px solid black; 
    border-radius: 10px; 
    padding: 10px;
    background-color: lightgray;
}

.side-image1 img {
    width: 300px;
    max-width: 100%;
}

.side-image2 {
    align-items: center;
    text-align: center;
    position: absolute; 
    top: 120%; 
    right: 1%; 
    max-width: 300px; 
    height: auto; 
    font-size: 14px;
    image-resolution: 75%;

    border: 2px solid black; 
    border-radius: 10px; 
    padding: 10px;
    background-color: lightgray;
}
.side-image2 img {
    width: 300px;
    max-width: 100%;
}

.side-image3 {
    align-items: center;
    text-align: center;
    position: absolute; 
    top: 230%; 
    right: 1%; 
    max-width: 300px; 
    height: auto; 
    font-size: 14px;
    image-resolution: 75%;

    border: 2px solid black; 
    border-radius: 10px; 
    padding: 10px;
    background-color: lightgray;
}
.side-image3 img {
    width: 300px;
    max-width: 100%;
}


.side-image4 {
    align-items: center;
    text-align: center;
    position: absolute; 
    top: 307%; 
    right: 1%; 
    max-width: 300px; 
    height: auto; 
    font-size: 14px;
    image-resolution: 75%;

    border: 2px solid black; 
    border-radius: 10px; 
    padding: 10px;
    background-color: lightgray;
}
.side-image4 img {
    width: 300px;
    max-width: 100%;
}

.side-image5 {
    align-items: center;
    text-align: center;
    position: absolute; 
    top: 360%; 
    right: 1%; 
    max-width: 300px; 
    height: auto; 
    font-size: 14px;
    image-resolution: 75%;

    border: 2px solid black; 
    border-radius: 10px; 
    padding: 10px;
    background-color: lightgray;
}
.side-image5 img {
    width: 300px;
    max-width: 100%;
}



/* LINKS */
a:visited {
    color: black; 
    text-decoration-color: black; 
}
a{
    text-decoration: none;
}
